* {
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    margin: 0;
}

.header {
    position: sticky;
    padding: 5px;
    background: linear-gradient(#8a96e7 30%, #854fee 80%);
}

.logo {
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-left: 5%;
}

.logo h1 {
    width: 30vw;
    padding: 5px;
    text-transform: uppercase;
    font-size: 20px;
    animation: both 2s linear infinite;
    animation-direction: alternate;
}

.header_links {
    width: 57vw;
    text-align: right;
    display: inline-block;
}

.header_links div {
    display: inline-block;
    padding: 10px 20px;
    margin: auto 15px;
    color: #fff;
}

.header_links div:hover {
    font-weight: bold;
    color: #854fee;
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.leftBar {
    float: left;
    height: 100vh;
    min-width: 200px;
    width: 15%;
    margin-right: 30px;
    text-align: center;
    padding: 10px 20px;
    background: linear-gradient(#854fee 30%, #8a96e7 50%, #ffffff 80%);

}

.rightBar {
    float: left;
    width: 65%;
    padding: 10px 20px;
    text-align: center;
}

.course {
    border: 1px solid #ccc;
    padding: 10px;
    color: #fff;
}

.course:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

#uploadDataBtn {
    margin: 30px auto;
    height: 40px;
}


/* upload student details css */

li {
    list-style: none;
    margin: 20px;
    margin-right: 40px;
    background: rgb(246, 248, 149);
    padding: 10px;
    padding-left: 30px;
    border: 1px solid;
}

.header {
    text-align: center;

}

.studentDetail {
    background-color: aliceblue;
    border: 1px solid saddlebrown;
    width: 700px;
    margin: 10px auto;
}

.studentDetail div:first-child {
    display: inline-block;
    width: 120px;
}

.studentDetail div:nth-child(2) {
    display: inline-block;
    width: 75%;
}



.submitBtn {
    text-align: center;
}

input[type="button"] {
    width: 140px;
    height: 30px;
}

.hideShow{
    display: none;
}