*{
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    margin: 0;
}
.header{
    position: sticky;
    padding: 5px;
    background: linear-gradient(#8a96e7 30%, #854fee 80%);
}
.logo{
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-left: 5%;
}

.logo h1 {
    width: 30vw;
    padding: 5px;
    text-transform: uppercase;
    font-size: 20px;
    animation: both 2s linear infinite;
    animation-direction: alternate;
}

.header_links{
    width: 57vw;
    text-align: right;
    display: inline-block;
}

.header_links div{
    display: inline-block;
    padding: 10px 20px;
    margin: auto 15px;
    color: #fff;
}

.header_links div:hover{
    font-weight: bold;
    color: #854fee;
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.leftBar{
    float: left;
    height: 100vh;
    min-width: 200px;
    width: 15%;
    margin-right: 30px;
    text-align: center;
    padding: 10px 20px;
    background: linear-gradient( #854fee 30%, #8a96e7 50%, #ffffff 80%);;
}

.rightBar{
    float: left;
    width: 82%;
    padding: 10px 20px;
    
}
.course{
    border: 1px solid #ccc;
    padding: 10px;
    color: #fff;
}

.course:hover{
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

#uploadData{
    margin: 30px auto;
    height: 40px;
}

/* tables section css */

.tableHeading{
    text-align: center;
    text-decoration: underline;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.tabHead div{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #8a96e7;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
    text-align: center;
}




