/* tables section css */

.tableHeading {
    text-align: center;
    text-decoration: underline;
}

div.redTable {
    border: 2px solid #A40808;
    background-color: #EEE7DB;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.divTable.redTable .divTableBody .divTableCell {
    font-size: 15px;
    padding: 5px;
}

.divTable.redTable .divTableCell, .divTable.redTable .divTableHead {
    border: 1px solid #AAAAAA;
  }

.divTable.redTable .divTableRow:nth-child(even) {
    background: #F5C8BF;
}

.divTable.redTable .divTableHeading {
    background: #A40808;
}

.divTable.redTable .divTableHeading .divTableHead {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    /* border-left: 2px solid #ffffff; */
}

.redTable .tableFootStyle {
    font-size: 13px;
    font-weight: normal;
    color: #FFFFFF;
    background: #3853A4;
    background: -moz-linear-gradient(top, #6a7ebb 0%, #4c64ad 66%, #3853A4 100%);
    background: -webkit-linear-gradient(top, #6a7ebb 0%, #4c64ad 66%, #3853A4 100%);
    background: linear-gradient(to bottom, #6a7ebb 0%, #4c64ad 66%, #3853A4 100%);
}

.redTable .tableFootStyle {
    font-size: 13px;
}

.redTable .tableFootStyle .links {
    text-align: right;
}

.redTable .tableFootStyle .links a {
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
}

.redTable.outerTableFooter {
    border-top: none;
}

.redTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}

/* DivTable.com */
.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}


/* my table css */

.divTableRow div:first-child{
    width: 10%;
}

.divTableRow div:nth-child(2){
    width: 40%;
}
.divTableRow div:nth-child(3){
    width: 15%;
}
.divTableRow div:nth-child(4){
    width: 15%;
}


 /* table disply none  */
.hide {
    display: none; 
}